.crd {
  width: auto;
    border: 3px solid grey;
    padding: 25px;
    margin: 25px;
}

h5 {
    margin-bottom: 3vw;
}

.play {
    width: 10%;
    margin-bottom: 1vw;
    margin-right: 1vw;
}
.word {
  align-content: center;
    width: 100px;
    margin-bottom: 1vw;
    margin-right: 1vw;
}
/* Footer */
.ftr {
    width: 100%;
    height: 5%;
    bottom: 0%;
}

.tx{
    color: white;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

/* Black input area */
.input-field textarea:focus + label {
    color: black !important;
  }
  
  .row .input-field textarea:focus {
    border-bottom: 1px solid black !important;
    box-shadow: 0 1px 0 0 black !important
  }

/* Blue switch */
.switch label input[type=checkbox]:checked+.lever {
    background-color: #7ba7d4;
  }
  
  .switch label input[type=checkbox]:checked+.lever:after {
    background-color: #1976d2;
  }

/* Blue Radio button */
[type="radio"]:checked + label::after, [type="radio"].with-gap:checked + label::after {
  background-color: #1976d2 !important;
}
[type="radio"]:checked + label::after, [type="radio"].with-gap:checked + label::before, [type="radio"].with-gap:checked + label::after {
  border: 2px solid #1976d2 !important;
}
.pd {
  padding-right:2em
}